<restautantemenu>
<plato>
<tipo>entrante</tipo>
<nombre>boquerones al vinagre</nombre>
<precio>5</precio>
<ingredientes>pescado</ingredientes>
</plato>
<plato>
<tipo>postre</tipo>
<nombre>pastel de zanahoria</nombre>
<precio>7</precio>
<ingredientes>zanahoria</ingredientes>
</plato>
<plato>
<tipo>comida</tipo>
<nombre>filete empanado</nombre>
<precio>12</precio>
<ingredientes>pollo</ingredientes>
</plato>
</restautantemenu>